.navbar {
  height: 100vh;
  width: rem(200px);
  /* padding: var(--mantine-spacing-md); */
  display: flex;
  flex-direction: column;
  border-right: 2px solid rgb(46, 46, 46);
  background-color: #1c1c26; /* Set background color for the navbar */
}

.navbarMain {
  flex: 1;
}

.header {
  padding-bottom: var(--mantine-spacing-md);
  margin-bottom: calc(var(--mantine-spacing-md) * 1.5);
  border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}


.link {
  display: flex;
  flex-direction: column; /* Align items in a column */
  align-items: center; /* Center items horizontally */
  text-decoration: none;
  font-size: var(--mantine-font-size-md);
  color: rgb(121, 121, 121); /* Light shade of gray for the icons */
  padding: 23px 0px;
  font-weight: 500;
  background-color: #1c1c26; /* Set background color for each link */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.link:hover {
  color: lightgray; /* Change text color on hover */
}

.linkIcon:hover {
  color: lightgray; /* Change text color on hover */
}

.linkIcon {
  color: rgb(121, 121, 121); /* Light shade of gray for the icons */
  width: 26px;
  height: 26px;
}

.link[data-active] {
  border-radius:0;
  border-right: 1px solid #665DC3;
  background-color: #17171e; /* Active link background color */
  color:  lightgray; /* Active link text color */
}

.link[data-active] .linkIcon {
  color:  lightgray; /* Active icon color */
}

